.grid{

    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    width: 340px;
}

.grid div{

    height: 30px;
    width: 30px;

}
.player-one{

    background-color: aliceblue;
    border-radius: 10px;
}

.player-two{

    background-color: lightskyblue;
    border-radius: 10px;

}